<?xml version="1.0" encoding="UTF-8"?>
<gui name="Biombo"
     version="10"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

  <MenuBar>
    <Menu name="view" >
        <text>View menu</text>
        <Action name="zoom-in" />
        <Action name="zoom-out" />
        <Action name="normal-size" />
        <Separator/>
        <Action name="fit" />
    </Menu>
    <Menu name="settings" >
    <text>Settings menu</text>
    <Action name="help-about" />
    </Menu>

  </MenuBar>
    <ToolBar name="mainToolBar" >
        <text>Main Toolbar</text>
        <Action name="quit" />
    </ToolBar>

</gui>
